.singup {
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.5);
}

.singup > form {
  display: flex;
  flex-direction: column;
}

.singup > form > input {
  padding: 5px 15px;
  outline-width: 0;
  margin-bottom: 14px;
  border-radius: 5px;
  height: 40px;
  border: none;
}

.singup > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.singup > form > h1 {
  margin-bottom: 25px;
  text-align: left;
}

.singup > form > h4 {
  margin-top: 30px;
  text-align: left;
}

.signup__line:hover {
  cursor: pointer;
  text-decoration: underline;
}
